<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMediaLibraryUsageDescription</key>
	<string>$(APP_NAME) need access to your Media</string>
	<key>NSCameraUsageDescription</key>
	<string>$(APP_NAME) need access to your camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(APP_NAME) need access to your library</string>
	<key>endpoint_url</key>
	<string>$(endpoint_url)</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow to use microphone ?</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>FoodieApp</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Harmattan-Bold.ttf</string>
		<string>Harmattan-Regular.ttf</string>
		<string>NotoKufiArabic-VariableFont_wght.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>LaunchScreen</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
